@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* カスタムで使用できるrobotoフォント */
  --font-roboto: "Roboto", sans-serif;
}
